#header{
background-color: gray;
text-align: center;
font-size: 200%;
border: 2px solid black;
	border-radius: 20px;
}
#header ul{
list-style-type: none;
}
#wrapper{
height: 1200px;
width: 1140px;
margin: 0 auto;
background-color:black;
}
#main_nav h1{
color: white;
text-align:center;
font-size:200%;
}
#main_nav li{
border: 50px;
width: 360px;
display: inline-block;
text-align:center;
}


#main_text{
margin: 5px;
background-color: black;
text-align:center;
color:white;
}
#h1{
color: white;
}
#main_text ul {
  list-style-type: none;
}

#footer{
padding: 10px;
margin:10px;
margin-left: 50px;
height: 150px;
width: 1010px;
background-color: gray;
color: white;
text-align: center;
float: left;
font-family: 'Lato', sans-serif;
}